[package]

name = "term"
version = "0.5.1"
authors = ["The Rust Project Developers", "Steven Allen"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/Stebalien/term"
homepage = "https://github.com/Stebalien/term"
documentation = "https://stebalien.github.io/doc/term/term/"
description = """
A terminal formatting library
"""
categories = ["command-line-interface"]
exclude = ["/scripts/*", "/.travis.yml", "/appveyor.yml"]

[badges]
travis-ci = { repository = "Stebalien/term" }
appveyor = { repository = "Stebalien/term" }

[dependencies]
byteorder = "1.2.1"
dirs = "1.0.2"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["consoleapi", "wincon", "handleapi", "fileapi"] }

[features]
default=[]
