[package]

name = "term"
version = "0.2.10"
authors = ["The Rust Project Developers"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/rust-lang/term"
homepage = "https://github.com/rust-lang/term"
documentation = "http://doc.rust-lang.org/term"
description = """
A terminal formatting library
"""

[dependencies]
winapi = "0.1"
kernel32-sys = "0.1"
